body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 30px;
}
h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.container {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 450px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 35%;
    margin: 0 auto; /* 가운데 정렬 */
    border-collapse: collapse;
    border: 1px solid #808080;
}
td {
    padding: 12px;
    border: 1px solid #999;
}


input[type="text"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}
input[type="reset"] {
    background-color: #6c757d;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    opacity: 0.9;
}
.button-cell {
    text-align: center;
    border-bottom: none !important;
}
